.politicy-title {
    font-weight: 400;
    font-size: 14px;
    font-family: Helvetica;
    color: #DFAD2A;
    margin-bottom: 60px;
}

.politics {
    margin-bottom: 60px;
}

.poloticy-info {
    font-weight: 700;
    font-size: 24px;
    line-height: 1.4;
    font-family: Helvetica;
    color: #2D2C31;
    width: 650px;
    margin-bottom: 30px;
}

.politicy-desc {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.4;
    font-family: Helvetica;
    color: #727272;
    width: 618px;
    margin-bottom: 30px;
}

.politicy-view-wrap {
    display: flex;
    margin-top: auto;
}

.politicy-view-wrap img {
    margin-right: 4px;
}

.politicy-view-title {
    font-weight: 400;
    font-size: 12px;
    font-family: Helvetica;
    color: #BDBDBD;
    margin-right: 15px;
}

.politics .container {
    display: flex;
}